@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme:   mat-light-theme($primary, $accent);

// Include the theme styles for only specified components.
@include mat-core-theme($theme);
@include mat-button-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-form-field-theme($theme);
@include mat-input-theme($theme);
@include mat-select-theme($theme);